
<!DOCTYPE html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title>WIKI</title>
</head>
<body>
    <a href='/' id='home'>WIKI</a>
    <hr align="left">
    <div>
        <form method='post'>
            <table>
                <tr>
                    <td>
                        username
                    </td>
                    <td>
                        <input type='text' name='username' value='{{ ret_user }}'>
                    </td>
                    <td>
                        {{ user_error }}
                    </td>
                </tr>
                <tr>
                    <td>
                        password
                    </td>
                    <td>
                        <input type='password' name='password'>
                    </td>
                </tr>
            </table>
            <input type='hidden' name='refer' value='{{ refer }}'> 
            <br>
            <input type='submit'>
    </div>
</html>
