<!DOCTYPE html>
<head>
</head>
<body>
    WELCOME
    <div>
        {% if user %}
        <div>
            Signed in as {{ user }}
        </div> 
        </div>
            <a href='/logout'>Log Out</a>
        </div>
        {% else %}
        </div>
            <a href='/signup'>Sign Up</a>
            <a href='/login'>Log In</a>
        </div>
        {% endif %}
    </div>
    <hr>
    {% if user %}
    <div>
        <a href='/_edit{{ url }}'>edit</a>
    </div>
    {% endif %}
    <div>
        {{ content }}
    </div>
</body>
